{% load static %}
<section class="popular-course-area section-gap">
    <div class="container-fluid">
        <div class="row justify-content-center section-title">
            <div class="col-lg-12">
                <h2>
                    Popular Courses <br />
                    Available Right Now
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="owl-carousel popuar-course-carusel">
            <div class="single-popular-course">
                <div class="thumb">
                    <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p1.jpg' %}" alt="" />
                </div>
                <div class="details">
                    <div class="d-flex justify-content-between mb-20">
                        <p class="name">programming language</p>
                        <p class="value">$150</p>
                    </div>
                    <a href="#">
                        <h4>Learn Angular JS Course for Legendary Persons</h4>
                    </a>
                    <div class="bottom d-flex mt-15">
                        <ul class="list">
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                        </ul>
                        <p class="ml-20">25 Reviews</p>
                    </div>
                </div>
            </div>

            <div class="single-popular-course">
                <div class="thumb">
                    <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p2.jpg' %}" alt="" />
                </div>
                <div class="details">
                    <div class="d-flex justify-content-between mb-20">
                        <p class="name">programming language</p>
                        <p class="value">$150</p>
                    </div>
                    <a href="#">
                        <h4>Learn Angular JS Course for Legendary Persons</h4>
                    </a>
                    <div class="bottom d-flex mt-15">
                        <ul class="list">
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                        </ul>
                        <p class="ml-20">25 Reviews</p>
                    </div>
                </div>
            </div>

            <div class="single-popular-course">
                <div class="thumb">
                    <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p3.jpg' %}" alt="" />
                </div>
                <div class="details">
                    <div class="d-flex justify-content-between mb-20">
                        <p class="name">programming language</p>
                        <p class="value">$150</p>
                    </div>
                    <a href="#">
                        <h4>Learn Angular JS Course for Legendary Persons</h4>
                    </a>
                    <div class="bottom d-flex mt-15">
                        <ul class="list">
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                        </ul>
                        <p class="ml-20">25 Reviews</p>
                    </div>
                </div>
            </div>

            <div class="single-popular-course">
                <div class="thumb">
                    <img class="f-img img-fluid mx-auto" src="{% static 'img/popular-course/p4.jpg' %}" alt="" />
                </div>
                <div class="details">
                    <div class="d-flex justify-content-between mb-20">
                        <p class="name">programming language</p>
                        <p class="value">$150</p>
                    </div>
                    <a href="#">
                        <h4>Learn Angular JS Course for Legendary Persons</h4>
                    </a>
                    <div class="bottom d-flex mt-15">
                        <ul class="list">
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </li>
                        </ul>
                        <p class="ml-20">25 Reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>