{% load static %}
<section class="video-area section-gap-bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title text-white">
                    <h2 class="text-white">
                        Watch Our Trainers <br>
                        in Live Action
                    </h2>
                    <p>
                        In the history of modern astronomy, there is probably no one greater leap forward than the
                        building and
                        launch of the space telescope known as the Hubble.
                    </p>
                </div>
            </div>
            <div class="offset-lg-1 col-md-6 video-left">
                <div class="owl-carousel video-carousel">
                    <div class="single-video">
                        <div class="video-part">
                            <img class="img-fluid" src="{% static 'img/video-img.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                                <img class="play-icon" src="{% static 'img/play-btn.png' %}" alt="">
                            </a>
                        </div>
                        <h4 class="text-white mb-20 mt-30">Learn Angular js Course for Legendary Persons</h4>
                        <p class="text-white mb-20">
                            In the history of modern astronomy, there is probably no one greater leap forward than the
                            building and
                            launch of the space telescope known as the Hubble.
                        </p>
                    </div>

                    <div class="single-video">
                        <div class="video-part">
                            <img class="img-fluid" src="{% static 'img/video-img.jpg' %}" alt="">
                            <div class="overlay"></div>
                            <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                                <img class="play-icon" src="{% static 'img/play-btn.png' %}" alt="">
                            </a>
                        </div>
                        <h4 class="text-white mb-20 mt-30">Learn Angular js Course for Legendary Persons</h4>
                        <p class="text-white mb-20">
                            In the history of modern astronomy, there is probably no one greater leap forward than the
                            building and
                            launch of the space telescope known as the Hubble.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>