<section class="feature-area">
    <div class="container-fluid">
        <div class="feature-inner row">
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-book"></i>
                    <div class="ml-20">
                        <h4>New Classes</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex">
                    <i class="ti-cup"></i>
                    <div class="ml-20">
                        <h4>Top Courses</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="feature-item d-flex border-right-0">
                    <i class="ti-desktop"></i>
                    <div class="ml-20">
                        <h4>Full E-Books</h4>
                        <p>
                            In the history of modern astronomy, there is probably no one greater leap forward.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>