{% extends 'base.html' %}
{% load static %}
{% block home %}
{% include 'home/popular_course.html' %}
{% include 'home/video_area.html' %}
{% include 'home/other_feature.html' %}
{% include 'home/testimonials_area.html' %}
{% include 'home/registration_area.html' %}
{% include 'home/blog_post.html' %}
{% endblock home %}

{% block home_banner %}
<div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
    <img class="img-fluid" src="{% static 'img/header-img.png' %}" alt="" />
</div>
{% endblock home_banner %}

{% block link_nav %}{% endblock link_nav %}